<section class="wrapper">
    <div class="main-wrapper">
        <div class="imageThumb-item">
            <div class="imageThumb-cache">
                <a href="/detail/sfsdf" title="" class="imgThumb">
                    <img src="/front/images/template/index-thumb.jpg" alt="" title="">
                </a>
                <a href="template-detail.html" title="" class="nameThumb">1 Gotrangtri.vn - Giao dien trang chu</a>
            </div>
        </div>
        <div class="imageThumb-item">
            <div class="imageThumb-cache">
                <a href="template-detail.html" title="" class="imgThumb">
                    <img src="/front/images/template/dk-thumb.jpg" alt="" title="">
                </a>
                <a href="template-detail.html" title="" class="nameThumb">2 Đăng ký</a>
            </div>
        </div>
        <div class="imageThumb-item">
            <div class="imageThumb-cache">
                <a href="template-detail.html" title="" class="imgThumb">
                    <img src="/front/images/template/tbdk-thumb.jpg" alt="" title="">
                </a>
                <a href="template-detail.html" title="" class="nameThumb">3 Thông báo đăng ký xong</a>
            </div>
        </div>
        <div class="imageThumb-item">
            <div class="imageThumb-cache">
                <a href="" title="" class="imgThumb">
                    <img src="/front/images/template/dn-thumb.jpg" alt="" title="">
                </a>
                <a href="" title="" class="nameThumb">4 Đăng nhập</a>
            </div>
        </div>
        <div class="imageThumb-item">
            <div class="imageThumb-cache">
                <a href="" title="" class="imgThumb">
                    <img src="/front/images/template/thongtinkhach-thumb.jpg" alt="" title="">
                </a>
                <a href="" title="" class="nameThumb">5 Khách hàng-  Thông tin tài khoản menu</a>
            </div>
        </div>
        <div class="imageThumb-item">
            <div class="imageThumb-cache">
                <a href="" title="" class="imgThumb">
                    <img src="/front/images/template/chiendich-hoidap-thumb.jpg" alt="" title="">
                </a>
                <a href="" title="" class="nameThumb">6 Khách hàng - Bắt đầu chiến dịch - Chia sẻ - Hỏi đáp</a>
            </div>
        </div>
        <div class="imageThumb-item">
            <div class="imageThumb-cache">
                <a href="" title="" class="imgThumb">
                    <img src="/front/images/template/chiendich-hoidap-thumb.jpg" alt="" title="">
                </a>
                <a href="" title="" class="nameThumb">6 Khách hàng - Bắt đầu chiến dịch - Chia sẻ - Hỏi đáp</a>
            </div>
        </div>
        <div class="imageThumb-item">
            <div class="imageThumb-cache">
                <a href="" title="" class="imgThumb">
                    <img src="/front/images/template/chiendich-duanmoi-thumb.jpg" alt="" title="">
                </a>
                <a href="" title="" class="nameThumb">7 Khách hàng - Bắt đầu chiến dịch - Dự án mới</a>
            </div>
        </div>
    </div>
    <div class="template-nav">
        <div class="fixed-menu">
            <a href="" title="template-detail.html">Tất cả</a>
            <a href="" title="template-detail.html">1 Gotrangtri.vn - Giao dien trang chu</a>
            <a href="" title="template-detail.html">2 Đăng ký</a>
            <a href="" title="template-detail.html">3 Thông báo đăng ký xong</a>
            <a href="" title="template-detail.html">4 Đăng nhập</a>
            <a href="" title="template-detail.html">5 Khách hàng-  Thông tin tài khoản menu</a>
            <a href="" title="">6 Khách hàng - Bắt đầu chiến dịch - Chia sẻ - Hỏi đáp</a>
            <a href="" title="">8 Khách hàng - Bắt đầu chiến dịch - Dự án mới</a>
            <a href="" title="">9 Khách hàng - Bắt đầu chiến dịch - Dự án mới</a>
            <a href="" title="">10 Khách hàng - Bắt đầu chiến dịch - Dự án mới</a>
            <a href="" title="">11 Khách hàng - Bắt đầu chiến dịch - Dự án mới</a>
            <a href="" title="">12 Khách hàng - Bắt đầu chiến dịch - Dự án mới</a>
            <a href="" title="">13 Khách hàng - Bắt đầu chiến dịch - Dự án mới</a>
            <a href="" title="">14 Khách hàng - Bắt đầu chiến dịch - Dự án mới</a>
            <a href="" title="">15 Khách hàng - Bắt đầu chiến dịch - Dự án mới</a>
            <a href="" title="">16 Khách hàng - Bắt đầu chiến dịch - Dự án mới</a>
            <a href="" title="">17 Khách hàng - Bắt đầu chiến dịch - Dự án mới</a>
        </div>
    </div>
</section>