<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title><%= title %></title>
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="author" content="" />
        <meta name="copyright" content="" />
        <meta property="og:image" content="">
        <!--link css-->
        <link rel="stylesheet" type="text/css" href="/front/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/front/css/styles.css">
        <link rel="stylesheet" href="/admin_asset/assets/plugins/morris/morris.css">

        <link href="/admin_asset/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <!-- <link href="/admin_asset/assets/plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" /> -->
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css" />
        <link href="/admin_asset/assets/css/core.css" rel="stylesheet" type="text/css" />
        <link href="/admin_asset/assets/css/components.css" rel="stylesheet" type="text/css" />
        <link href="/admin_asset/assets/css/icons.css" rel="stylesheet" type="text/css" />
        <link href="/admin_asset/assets/css/pages.css" rel="stylesheet" type="text/css" />
        <link href="/admin_asset/assets/css/menu.css" rel="stylesheet" type="text/css" />
        <link href="/admin_asset/assets/css/responsive.css" rel="stylesheet" type="text/css" />
        <script src="/admin_asset/assets/js/modernizr.min.js"></script>
        <!--Jquery library-->
        <script type="text/javascript" src="/front/js/jquery.min.js"></script>
    </head>
    <body>
        <%- include('./layout/header') -%>
        <%- body %>
        
        <%- include('./layout/footer') -%>
        <script type="text/javascript">
            function ResizeMemuMain() {
                jQuery(".subs>.subsContent>a").appendTo(".fixed-menu");
                jQuery(".subs").remove();

                var fixWidth = jQuery(".fixed-menu").outerWidth() - 30;
                var listLi = jQuery(".fixed-menu>a");

                var cWidth = 0;
                var iMax = 0;
                for (var i = 0; i < listLi.length; i++) {
                    cWidth += jQuery(listLi[i]).outerWidth();
                    if (cWidth > fixWidth) {
                        iMax = i;
                        break;
                    }
                }

                if (iMax > 0) {
                    var li2 = "<div class='subs-menu' onclick=jQuery('.subsContent').show() ><span>Xem thêm (<span id='countMore'>-</span>)</span><div class='subsContent'></div></div>";
                    jQuery(li2).appendTo(".fixed-menu");

                    var countMore = 0;
                    for (var i = iMax; i < listLi.length; i++) {
                        countMore++;
                        jQuery(listLi[i]).appendTo(".subsContent");
                    }
                    jQuery("#countMore").html(countMore);
                }
            }

            ResizeMemuMain();
            jQuery(window).resize(function() {
                ResizeMemuMain();
            });
        </script>
        <script src="/admin_asset/assets/js/jquery.min.js"></script>
        <script src="/admin_asset/assets/js/bootstrap.min.js"></script>
        <!-- <script src="/admin_asset/assets/plugins/datatables/jquery.dataTables.min.js"></script> -->
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>
    </body>
</html>