 <!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">        
        <h4 class="page-title" style="text-align: center;">Thêm mới giao diện dự án <%= category.name %></h4>
    </div>
</div>
<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <div class="card-box">
            <form action="/admin/product/create" method="post" enctype="multipart/form-data" data-parsley-validate novalidate>
                <div class="form-group">
                    <label for="userName">Dự án</label>
                    <input type="hidden" value="<%= category._id %>" name="cate_id">
                    <input type="text" name="name" parsley-trigger="change" required
                        class="form-control" value="<%= category.name %>" disabled id="">
                </div>
                <div class="form-group">
                    <label for="userName">Ảnh</label>
                    <input type="file" name="imageUrl" value="" placeholder="">
                </div>
                <div class="form-group">
                    <label for="userName">Tên*</label>
                    <input type="text" name="name" parsley-trigger="change" required
                           placeholder="Nhập tên" class="form-control" value="" id="">
                </div>
                <div class="form-group">
                    <label for="userName">Số thứ tự</label>
                    <input type="number" name="numb_sort" placeholder="" class="form-control" style="width: 100px" value="" id="">
                </div>
                <div class="form-group text-right m-b-0">
                    <button class="btn btn-primary waves-effect waves-light" type="submit">
                        Thêm
                    </button>
                    <a href="/admin/category/edit/<%= category._id%>" class="btn btn-default waves-effect waves-light m-l-5">Quay lại</a>
                </div>

            </form>
        </div>
    </div><!-- end col -->
    <div class="col-lg-3"></div>
    
</div>
<!-- end row -->